@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;

}
.wrapper {
	width: 1280px;
	margin: 0 auto;
}
/*header样式*/
.wrapper .header {
	position: relative;
	height: 60px;
	margin-left: 60px;
	background:url(../images/logo.png)
		left center no-repeat;
}
.header .header-word {
	display: inline-block;
	line-height: 60px;
	margin-left: 45px;
	font-size: 21px;
	font-family: SimHei;
}
.header .header-nav {
	position: absolute;
	right: 50px;
	display: inline-block;
	list-style: none;
}
.header-nav li {
	display: inline-block;
	line-height: 50px;
	padding: 0 20px 0 20px;
}
.header-nav li:hover
{
	border-bottom: 5px solid red;
	color: red;
}
.header-nav li:last-child {
	background: url(../images/login.png) left center no-repeat;
	color: red;
}
/*first-box样式*/
.first-box {
	height: 724px;
	background: url(../images/bg1.jpg) left top no-repeat;
}
.first-box .mask {
	height: 724px;
	background: rgba(205,204,204,.1);
}
.mask .pic-word {
	margin-left: 124px;
	padding-top: 230px;
}
.pic-word p {
	font-size: 21px;
	color: #fffdfd;
}
.pic-word p:first-child {
	margin-bottom: 14px;
	margin-left: -7px;
	font-size: 60px;
	color: #ffffff;
}
.pic-word .mask-button {
	margin-top: 59px;
	display: block;
	width: 332px;
	height: 66px;
	background-color: #E8504F;
	font-size: 30px;
	color: #ffffff;
}
.second-box ul {
	font-size: 0;/*使display:inline-block产生的间歇消失*/
	height: 250px;
	list-style: none;
}
.second-box ul li {
	height: 250px;
	display: inline-block;
	vertical-align: top;
}
.second-box ul li span {
	display: inline-block;
	
}
/*设置文字*/
.second-box ul li span:first-child {
	font-size: 14px;
	margin-top: 130px;
	color: #767777;
	width: 154px;
	text-align: center;
}
/*竖线*/
.second-box ul li span:last-child {
	margin-top: 134px;
	vertical-align:top;
	height: 54px;
	width: 2px;
	background-color: #767777;
}
/*第一组*/
.second-box ul li:first-child {
	background: url(../images/tip1.png) 146px 50px no-repeat;
}
.second-box ul li:first-child span:first-child {
	margin-left: 92px;
}
.second-box ul li:first-child span:last-child {
	margin-left: 82px;
}
/*第二组*/
.second-box ul li:nth-child(2) {
	background: url(../images/tip2.png) 154px 50px no-repeat;
}
.second-box ul li:nth-child(2) span:first-child {
	margin-left: 96px;
}
.second-box ul li:nth-child(2) span:last-child {
	margin-left: 90px;
}
/*第三组*/
.second-box ul li:nth-child(3) {
	background: url(../images/tip3.png) 131px 50px no-repeat;
}
.second-box ul li:nth-child(3) span:first-child {
	margin-left: 72px;
}
.second-box ul li:nth-child(3) span:last-child {
	margin-left: 94px;
}
/*第四组*/
.second-box ul li:nth-child(4) {
	background: url(../images/tip4.png) 128px 50px no-repeat;
}
.second-box ul li:nth-child(4) span:first-child {
	margin-left: 72px;
}
.second-box ul li:nth-child(4) span:last-child {
	background: #fff;
}
/*third-box样式*/
.third-box {
	padding: 90px 23px 80px 218px;
	background: #eeeced;
}
.third-box img {
	margin-left: 375px;
	margin-bottom: 32px;
}
.third-box p {
	font-size: 53.59px;
	color: #323333;
	opacity: 0.5;
}
/*four-box样式*/
.four-box {
	
	height: 341px;
	background: url(../images/bg2.jpg) no-repeat;
}
.four-box .mask {
	height: 341px;
	background: rgba(238,215,214,0.3);
}
.mask .word {
	
	width: 336px;
	margin: 0 auto;
	padding-top: 54px;
}
.mask .word p{
	text-align: center;
}
.mask .word p:first-child{
	font-size: 21px;
	color: #fff;
}
.mask .word p:last-child{
	font-size: 12px;
	color: #fff;
}
.mask .word span{
	text-align: center;
	display: block;
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 10px auto 20px auto;
}
.mask .select{
	margin-top: 50px;
	
}
.mask select{
	
	width: 236px;
	height: 37px;
	appearance:none;/*去掉select的默认样式*/
	-moz-appearance:none;
    -webkit-appearance:none;
	background: url(../images/select.jpg) 209px center no-repeat;
	background-color: #fff;
	color:#a8aaaa;
	margin-right: 30px;
	
}
.mask select option:hover {
	background:#bb5048;
	color:#fff;
}
.mask .select select:nth-child(1){
	margin-left: 128px;
	
}
.mask input{
	width: 236px;
	height: 37px;
	background: #bb5048;
	font-size: 14px;
	color:#fff;
	
}
/*five-box样式*/
.five-box ul{
	margin-left: 150px;
	margin-top: 103px;
	list-style: none;
}
.five-box ul li {
	display: inline-block;
	margin-right: 37px;
	vertical-align: top;
}
.five-box ul li div{
	border: 1px solid #ccc;
	padding: 10px 10px 15px 10px;
}
.five-box ul li p:nth-child(2){
	font-size: 14px;
	margin-bottom: 4px;
	text-align: center;
	
}
.five-box ul li p:nth-child(3){
	font-size: 12px;
	color:#949191;
	text-align: center;
}
.five-box ul li:nth-child(2) p:nth-child(1) {
	font-size: 21px;
	
	margin-left: 10px;
	text-align: center;
	
}
.five-box ul li:nth-child(2) p:nth-child(2){
	margin-bottom: 0;
}
/*six-box样式*/
.six-box{
	
}
.six-box .six-box-bg1
{
	vertical-align: top;
	display: inline-block;
	width: 850px;
	height: 567px;
	background: url(../images/bg3.jpg) no-repeat;
}
.six-box .six-box-bg1 p{
	
	color:#fff;
	text-align: center;
}
.six-box .six-box-bg1 p:first-child{
	padding-top: 134px;
	font-size: 50px;
}
.six-box .six-box-bg1 p:nth-child(2){
	font-size: 158px;
	margin-top: -44px;
}
.six-box .six-box-bg1 p:nth-child(3){
	font-size: 22px;
	margin-top: -9px;
	margin-bottom: 12px;
}
.six-box .six-box-bg1 p:nth-child(4){
	font-size: 22px;
}
.six-box .six-box-bg1 span{
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	border-right: 40px solid transparent;
	border-top: 20px solid transparent;
	border-bottom:20px solid transparent;
	border-right-color: #fff;/*画等腰三角形*/
	margin-left: 827px;
	margin-top: -160px;
}
.six-box .top-right{
	display: inline-block;
	
	background: #fff;
	padding-top: 165px;
	padding-left: 70px;
	padding-right: 70px;
	text-align: center;
	
}
.top-right p,.top-right span{
	width: 283px;
	
	
}
.top-right span{
	font-size: 22px;
	text-align: center;
	margin: 0 auto;
	
}
.top-right span:nth-child(2){
	color:red;
}
.top-right p{
	padding-top: 15px;
	line-height: 30px;
	font-size: 12px;
	color:#aaaaaa;
	text-align: left;
}
.top-right .more-button{
	margin: 35px auto 25px auto;
	border: 1px solid red;
	width: 104px;
	height: 34px;
	color:red;
	line-height: 34px;
}
.top-right ul{
	
	margin-bottom: 118px;
	list-style: none;
}
.top-right ul li{
	display: inline-block;
	margin-right: 8px;
}
.six-box >ul{
	list-style: none;
}
.six-box >ul li{
	vertical-align:top;
	display: inline-block;
	text-align: center;
	width: 420px;
	height: 520px;
}
.six-box >ul li p:first-child{
	margin-top: 130px;
}
.six-box >ul li .button{
	display: block;
	width: 167px;
	height: 40px;
	margin: 0 auto;
	font-size: 21px;
}
/*第一列*/
.six-box >ul li:first-child{
	background: #e7504d;
}
.six-box >ul li p{
	font-size: 21px;
	color:#fff;
	line-height: 30px;
}
.six-box >ul li .line{
	margin: 25px auto 25px auto;
	display: block;
	width:32px;
	height: 2px;
	background:#fff;

}
.six-box >ul li:first-child .button{
	background: #e7504d;
	border: 1px solid #fff;
	color:#fff;
	
}
/*第二列*/
.six-box >ul li:nth-child(2) p{
	color:#000;
}
.six-box >ul li:nth-child(2) .line{
	background:#ccc;
}
.six-box >ul li:nth-child(2) .button{
	background: #fff;
	border: 1px solid #e7504d;
	color: #e7504d;
	text-align: center;
}
/*第三列*/
.six-box >ul li:nth-child(3){
	width: 430px;
	background: url(../images/bg4.jpg);
}
.six-box >ul li:nth-child(3) div{
	vertical-align: top;
	width: 430px;
	height: 276px;
	background: rgba(155,153,153,.5);
	padding-top: 245px;
}
.six-box >ul li:nth-child(3) span{
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	border-left: 40px solid transparent;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left-color: #fff;
	
}
/*seven-box样式*/
.seven-box{
	padding:140px 100px 170px 120px;
}
.seven-box .top{
	text-align: center;
	margin-bottom: 110px;
}
.top span{
	font-size: 21px;
	color:#000;
}
.top .line{
	display: block;
	width: 30px;
	height: 2px;
	background: red;
	margin: 10px auto 14px auto;
}
.top p{
	font-size: 12px;
	color:#aaaaaa;
	width: 427px;
	margin: 0 auto;
}
.seven-box{
	
}
.seven-box .left{
	vertical-align: top;
	display: inline-block;
	list-style: none;
	margin-right: 75px;
	width: 290px;
}
.left li p{
	font-size: 14px;
	font-family: SimHei;
	color:#231815;
	margin-bottom: 18px;
} 
.left li span{
	font-size: 12px;
	color:#231815;opacity: 0.5;
}
.left li span:last-child{
	display: block;
	margin-bottom: 31px;
	margin-left: 242px;
	background:url(../images/tip.jpg) left center no-repeat;
	width: 46px;
	text-align: right;
}
.left li:last-child p{
	margin-bottom: 0;
}
.right{
	width: 665px;
	display: inline-block;
}
.right .text{
	font-size: 12px;
	color:#231815;
	text-indent: 2em;
	display: inline-block;
	width: 310px;
	height: 40px;
	background: #ededef;
	border: none;
	margin-right: 20px;
	margin-bottom: 16px;
	
}
.right textarea{
	font-size: 12px;
	color:#231815;
	text-indent: 2em;
	width: 640px;
	height: 120px;
	background: #ededef;
	border: none;
}
.right .button{
	font-size: 14px;
	color:#323333;
	margin-top: 15px;
	display: block;
	width: 640px;
	height: 40px;
	background: #ededef;
	border: none;
}
/*contact样式*/
.contact{
	padding-top: 90px;
	text-align: center;
	background: #32353e;
}
.contact span{
	display: block;
	font-size: 21px;
	color:#fff;
	margin-bottom: 8px;
}
.contact p{
	width: 470px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 12px;
	color: #fff;
}
.contact .text{
	width: 432px;
	height: 40px;
	font-size: 14px;
	color:#aaaaaa;
	text-indent: 1em;
}
.contact .button{
	width: 80px;
	height: 40px;
	background: #717179;
	color:#fff;
	font-size: 15px;
	border: none;
	margin-left: -5px;
}
.contact div{
	margin-top: 35px;
	padding-bottom: 75px;
}
.contact div img{
	margin-right: 30px;
}
/*footer样式*/
.footer{
	height: 58px;
	background: #30303a;
}
.footer span{
	line-height: 58px;
	font-size: 12px;
	color:#fff;
}
.footer span:first-child{
	margin-left: 55px;
}
.footer span:last-child{
	margin-left: 1006px;
}